{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h1 style="font-size: 2.5em; color: #333;">About Us</h1>
    <p style="font-size: 1.1em; color: #666;">Welcome to our Tourism Management System project!</p>
    
    <h2 style="font-size: 2em; color: #333; margin-top: 40px;">Project Details</h2>
    <p style="font-size: 1.1em; color: #666;">Our project aims to provide a comprehensive tourism management system for travelers to plan their dream vacations.</p>
    
    <h2 style="font-size: 2em; color: #333; margin-top: 40px;">Tech Stack</h2>
    <ul style="font-size: 1.1em; color: #666;">
        <li>Frontend: HTML, CSS, JavaScript</li>
        <li>Backend: Python, Flask</li>
        <li>Database: SQLite, SQLAlchemy</li>
    </ul>
    
    <h2 style="font-size: 2em; color: #333; margin-top: 40px;">Developers</h2>
    <ul style="font-size: 1.1em; color: #666;">
        <li>Abhishek Pawar</li>
        <li>Raj Nangare</li>
        <li>Pradnya Patil</li>
        <li>Purvesh Ganer</li>
    </ul>
</div>
{% endblock %}
