{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Contact Us</h1>
        <p>Feel free to reach out to us for any inquiries or feedback. We're here to help!</p>
        
        <div class="contact-details">
            <h2>Contact Details</h2>
            <p>Email: <a href="mailto:abhishek@pawar.com">abhishek@pawar.com</a></p>
            <p>Phone: <a href="tel:+123456789">1234567890</a></p>
            <p>Address: IIT Karvenagar Pune</p>
        </div>
    </div>
{% endblock %}
