{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>{{ package.name }}</h1>
        <img src="{{ package.image_url }}" alt="{{ package.name }}" height="500" width="500">
        <p><strong>Description:</strong> {{ package.description }}</p>
        <p><strong>Price:</strong> ${{ package.price }}</p>
        <p><strong>Available Seats:</strong> {{ package.available_seats }}</p>
        <p><strong>Date:</strong> {{ package.date }}</p>
        <!-- You can display other package details here -->
    </div>
{% endblock %}
